Source: ros-kilted-rosidl-dynamic-typesupport-fastrtps
Section: misc
Priority: optional
Maintainer: Brandon Ong <brandon@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake-ros-core, ros-kilted-fastcdr, ros-kilted-fastdds, ros-kilted-rcpputils, ros-kilted-rcutils, ros-kilted-rosidl-dynamic-typesupport, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rosidl-dynamic-typesupport-fastrtps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-fastcdr, ros-kilted-fastdds, ros-kilted-rcpputils, ros-kilted-rcutils, ros-kilted-rosidl-dynamic-typesupport, ros-kilted-ros-workspace
Description: FastDDS serialization support implementation for use with C/C++.
